/* GENERAL LAYOUT */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: steelblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* General container */
#chat-container {
  height: 95%;
  min-width: 900px;
  max-width: 1170px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: khaki;
  display: flex;
  flex-direction: column;
}

/* Chat name */
.chat-title {
  margin: 10px;
  text-align: center;
  color: darkslategray;
}

/* Chat Panel */
.chat {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px 50px;
  background-color: mediumaquamarine;
  background-image: url('../img/chat-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Chat messages */
.chat .message {
  position: relative;
  list-style: none;
  min-width: 200px;
  max-width: 400px;
  min-height: 50px;
  margin-bottom: 10px;
  padding: 8px 5px;
  border-radius: 5px;
  clear: both;
}

.chat .message.sent {
  background-color: steelblue;
  float: right;
  position: relative;
}

.chat .message.sent::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: steelblue;
  transform: rotate(45deg);
  position: absolute;
  bottom: 10px;
  left: -5px;
}

.chat .message.received {
  background-color: lightskyblue;
  float: left;
  position: relative;
}

.chat .message.received::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: lightskyblue;
  transform: rotate(45deg);
  position: absolute;
  top: 10px;
  right: -5px;
}

.chat .message p {
  word-wrap: break-word;
  margin-right: 5px;
}

.chat .message span {
  float: right;
  font-size: 12px;
  color: khaki;
}

/* Chat controls */
.chat-control {
  padding: 5px;
  display: flex;
  justify-content: center;
  border-radius: 0 0 10px 10px;
  background-color: goldenrod;
}

.chat-control .chat-input {
  flex-grow: 1;
  height: 30px;
  margin-right: 5px;
  padding: 10px 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: lavender;
}

.chat-control i {
  font-size: 30px;
  cursor: pointer;
  color: #fff;
}

.chat-control i:hover {
  color: greenyellow;
}

.chat-control .chat-input:focus {
  background-color: #fff;
  border: 1px solid lightslategrey;
}

